@import '../../assets/theme/src/common/color.scss';

.input-container {
  position: relative;

  &.input-prefix-content-container {
    display: flex;
    align-items: center;

    // prefix content
    .prefix-content {
      height: 2.25rem;
      padding: 0.375rem 0.75rem;
      white-space: nowrap;
      line-height: 1.5;
      border: 1px solid #ccc;
      border-right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: #f5f7fa;
      color: #909399;
    }

    .input {
      z-index: 1;
      flex: 1;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: 0.15s border-color ease, 0.15s background-color ease, 0.15s color ease,
        0.15s box-shadow ease;
    }
  }

  &.input-suffix-content-container {
    display: flex;

    // suffix content
    .suffix-content {
      height: 2.25rem;
      padding: 0.375rem 0.75rem;
      white-space: nowrap;
      line-height: 1.5;
      border: 1px solid #ccc;
      border-left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #f5f7fa;
      color: #909399;
    }

    .input {
      z-index: 1;
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .input {
    width: 100%;
    height: 2.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    box-sizing: border-box;
    outline: 0;
    transition: 0.15s border-color ease, 0.15s background-color ease, 0.15s color ease,
      0.15s box-shadow ease;

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: rgba(0, 0, 0, 0.5);
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: rgba(0, 0, 0, 0.5);
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: rgba(0, 0, 0, 0.5);
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+*/
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      color: #495057;
      border-color: $primary-color-light-2;
      box-shadow: $primary-plan-focus-shadow;
    }

    &.disabled {
      background-color: #e9ecef;
      cursor: not-allowed;
    }

    &.has-allow-clear {
      padding-right: 1.65rem;
    }

    &.has-prefix-icon {
      padding-left: 1.65rem;
    }

    &.has-suffix-icon {
      padding-right: 1.65rem;
    }
  }

  // prefix icon
  .prefix-icon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    [class^='icon-'] {
      color: rgba(0, 0, 0, 0.65);
    }
  }

  // suffix icon
  .suffix-icon {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    [class^='icon-'] {
      color: rgba(0, 0, 0, 0.65);
    }
  }

  // allow clear
  .allow-clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0.3rem;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    transform: translateY(-50%) scale(0.65);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .icon-close {
      color: #fff;
    }
  }
}

.input-textarea-container {
  position: relative;
  .input {
    width: 100%;
    resize: vertical;
    min-height: 2.25rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    box-sizing: border-box;
    outline: 0;

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      color: rgba(0, 0, 0, 0.5);
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: rgba(0, 0, 0, 0.5);
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: rgba(0, 0, 0, 0.5);
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+*/
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      color: #495057;
      border-color: $primary-color-light-2;
      box-shadow: $primary-plan-focus-shadow;
    }

    &.disabled {
      background-color: #e9ecef;
      cursor: not-allowed;
    }

    &.has-allow-clear {
      padding-right: 1.65rem;
    }
  }

  // allow clear
  .allow-clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0.3rem;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    transform: translateY(-50%) scale(0.65);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .icon-close {
      color: #fff;
    }
  }
}
