.row {
  display: flex;
  flex-wrap: wrap;
}

// align
.row-align-start {
  align-items: flex-start;
}

.row-align-end {
  align-items: flex-end;
}

.row-align-center {
  align-items: center;
}

// justify
.row-justify-start {
  justify-content: flex-start;
}

.row-justify-center {
  justify-content: center;
}

.row-justify-end {
  justify-content: flex-end;
}

.row-justify-between {
  justify-content: space-between;
}

.row-justify-around {
  justify-content: space-around;
}
