@import '../../assets/theme/src/common/color.scss';

.button {
  padding: 0.45rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-size: 0.9rem;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  transition: 0.15s border-color ease, 0.15s background-color ease, 0.15s color ease,
    0.15s box-shadow ease;
  &:hover {
    z-index: 1;
  }
  &:focus,
  &:active {
    z-index: 2;
  }

  // round
  &.is-round {
    border-radius: 1.5rem;
  }

  // circle
  &.is-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    [class*='icon-'] {
      margin-left: 0;
    }
  }

  // text
  &.is-text {
    border-color: transparent;
    background-color: transparent;
    color: $primary-background-color-hover;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      background-color: transparent;
      color: $primary-background-color-hover;
      box-shadow: none;
    }
  }

  // disabled
  &.is-disabled {
    cursor: not-allowed;
  }

  // loading
  &.is-loading {
    position: relative;
    pointer-events: none;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      border-radius: inherit;
      pointer-events: none;
      background-color: $loading-backdrop-color;
    }
  }

  // icon
  [class*='icon'] {
    font-size: 0.85rem;
  }
  [class*='icon'] + span {
    margin-left: 0.25rem;
  }

  // type - primary
  $button-type-primary-class-name: & + '-' + 'primary';
  @at-root {
    #{$button-type-primary-class-name} {
      border-color: $primary-border-color;
      background-color: $primary-background-color;
      color: $primary-text-color;
      &:hover,
      &:active {
        border-color: $primary-border-color-hover;
        background-color: $primary-background-color-hover;
        color: $primary-text-color-hover;
      }
      &:focus {
        box-shadow: $primary-focus-shadow;
      }

      // plain
      &.is-plain {
        border-color: $primary-plan-border-color;
        background-color: $primary-plan-background-color;
        color: $primary-plan-text-color;
        &:hover,
        &:active {
          border-color: $primary-plan-border-color-hover;
          background-color: $primary-plan-background-color-hover;
          color: $primary-plan-text-color-hover;
        }
        &:focus {
          box-shadow: $primary-plan-focus-shadow;
        }
      }

      // disabled
      &.is-disabled {
        border-color: $primary-disabled-border-color;
        background-color: $primary-disabled-background-color;
        color: $primary-disabled-text-color;
        &:hover,
        &:active,
        &:focus {
          border-color: $primary-disabled-border-color;
          background-color: $primary-disabled-background-color;
          color: $primary-disabled-text-color;
          box-shadow: none;
        }
      }
    }
  }

  // type - danger
  $button-type-danger-class-name: & + '-' + 'danger';
  @at-root {
    #{$button-type-danger-class-name} {
      border-color: $danger-border-color;
      background-color: $danger-background-color;
      color: $danger-text-color;
      &:hover,
      &:active {
        border-color: $danger-border-color-hover;
        background-color: $danger-background-color-hover;
        color: $danger-text-color-hover;
      }
      &:focus {
        box-shadow: $danger-focus-shadow;
      }

      // plain
      &.is-plain {
        border-color: $danger-plan-border-color;
        background-color: $danger-plan-background-color;
        color: $danger-plan-text-color;
        &:hover,
        &:active {
          border-color: $danger-plan-border-color-hover;
          background-color: $danger-plan-background-color-hover;
          color: $danger-plan-text-color-hover;
        }
        &:focus {
          box-shadow: $danger-plan-focus-shadow;
        }
      }

      // disabled
      &.is-disabled {
        border-color: $danger-disabled-border-color;
        background-color: $danger-disabled-background-color;
        color: $danger-disabled-text-color;
        &:hover,
        &:active,
        &:focus {
          border-color: $danger-disabled-border-color;
          background-color: $danger-disabled-background-color;
          color: $danger-disabled-text-color;
          box-shadow: none;
        }
      }
    }
  }

  // size - small
  $button-size-small-class-name: & + '-' + 'small';
  @at-root {
    #{$button-size-small-class-name} {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
      &.is-circle {
        width: 2rem;
        height: 2rem;
      }
      [class*='icon-'] {
        font-size: 0.75rem;
      }
    }
  }

  // size - large
  $button-size-large-class-name: & + '-' + 'large';
  @at-root {
    #{$button-size-large-class-name} {
      padding: 0.55rem 0.85rem;
      font-size: 1.2rem;
      line-height: 1.5;
      border-radius: 0.3rem;
      &.is-circle {
        width: 3.25rem;
        height: 3.25rem;
      }
      [class*='icon-'] {
        font-size: 1.2rem;
      }
    }
  }
}
