.col {
  width: 100%;
}

[class*='col-push-'],
[class*='col-pull-'] {
  position: relative;
}

@for $i from 1 through 24 {
  // span
  .col-#{$i} {
    flex: 0 0 100% / 24 * $i;
    width: 100% / 24 * $i;
  }

  // offset
  .col-offset-#{$i} {
    margin-left: 100% / 24 * $i;
  }

  // push
  .col-push-#{$i} {
    left: 100% / 24 * $i;
  }

  // pull
  .col-pull-#{$i} {
    left: -100% / 24 * $i;
  }
}

// reponsive - xs
@for $i from 1 through 24 {
  @media (max-width: 576px) {
    .col-xs-#{$i} {
      flex: 0 0 100% / 24 * $i;
      width: 100% / 24 * $i;
    }

    .col-xs-offset-#{$i} {
      margin-left: 100% / 24 * $i;
    }
  }
}

// reponsive - sm
@for $i from 1 through 24 {
  @media (min-width: 576px) {
    .col-sm-#{$i} {
      flex: 0 0 100% / 24 * $i;
      width: 100% / 24 * $i;
    }

    .col-sm-offset-#{$i} {
      margin-left: 100% / 24 * $i;
    }
  }
}

// reponsive - md
@for $i from 1 through 24 {
  @media (min-width: 768px) {
    .col-md-#{$i} {
      flex: 0 0 100% / 24 * $i;
      width: 100% / 24 * $i;
    }

    .col-md-offset-#{$i} {
      margin-left: 100% / 24 * $i;
    }
  }
}

// reponsive - lg
@for $i from 1 through 24 {
  @media (min-width: 992px) {
    .col-lg-#{$i} {
      flex: 0 0 100% / 24 * $i;
      width: 100% / 24 * $i;
    }

    .col-lg-offset-#{$i} {
      margin-left: 100% / 24 * $i;
    }
  }
}

// reponsive - xl
@for $i from 1 through 24 {
  @media (min-width: 1200px) {
    .col-xl-#{$i} {
      flex: 0 0 100% / 24 * $i;
      width: 100% / 24 * $i;
    }

    .col-xl-offset-#{$i} {
      margin-left: 100% / 24 * $i;
    }
  }
}
