@import './common/mixins.scss';

/*
// block
@include block(menu) {
  color: rgba(0, 0, 0, 0.1);

  // element
  @include element(item1) {
    color: rgba(0, 0, 0, 0.2);

    // modifier
    @include modifier([info, warn]) {
      color: rgba(0, 0, 0, 0.21);
    }
  }

  // modifier
  @include modifier([info, warn]) {
    color: rgba(0, 0, 0, 0.4);
  }
}
*/

// responsive
@include responsive('xs') {
  .header {
    color: blue;
  }
}
